<p>Home</p>
<p>Create a tweet</p>
<div>
  <%= form_with model: @tweet, url: { action: "create" } do |form| %>
    <%= form.text_area :body %>
    <%= form.submit %>
  <% end %>
</div>
<% @tweets.each do |tweet| %>
  <div>
    <%= image_tag User.all.find_by(id: tweet.user_id).avatar%>
    <p><%= User.all.find_by(id: tweet.user_id).username%></p>
    <span><%= time_ago_in_words(tweet.created_at) unless tweet.created_at.blank? %> ago</span>
    <p><%= User.all.find_by(id: tweet.user_id).name%></p>
    <p><%= tweet.body%></p>
    <p>Comments: <%= tweet.comments_count%></p>
    <a href="<%=tweet_path(tweet)%>">Details</a>
  </div>
<% end %>