<div class="card justify-c">
  <h1>Home</h1>
</div>
<%if current_user %>
  <div class="card">
    <%= image_tag current_user.avatar ,class: "card-img"%>
    <div class="card-contain">
    <%= form_with model: @tweet, url: { action: "create" } do |form| %>
      <div class="card-main">
        <%= form.text_area :body ,placeholder: "Remember to think before write ...", class: "card-area"%>
      </div>
      <div class="card-footer--end">
       <%= form.submit  "Tweet",class: "btn btn--primary btn--fit-content" %>
      </div>  
    </div>   
    <% end %>       
  </div>
<% end %>   

<% @tweets.each do |tweet| %>
  <div class="card">
    <div>
     <%= image_tag User.all.find_by(id: tweet.user_id).avatar, class: "card-img"%>
    </div>
    <div class="card-contain">
      <div class="card-main">
        <p>
          <%= User.all.find_by(id: tweet.user_id).name%> <span>@<%= User.all.find_by(id: tweet.user_id).username%></span>
              <span><%= time_ago_in_words(tweet.created_at) unless tweet.created_at.blank? %> ago</span>
        </p>
        <p><%= tweet.body%></p>
      </div>
      <div class="card-footer">
        <div class="card-comments">
          <a href="<%=tweet_path(tweet)%>"><div><%= image_tag('comment.png')%></div></a>

          <p><%= tweet.comments_count%></p>        
        </div>
        <%if current_user%>
          <%if current_user.id == tweet.user_id%>
         <div class="card-controls">
          <%= link_to tweet_path(tweet), method: :delete, data: { confirm: 'Do you want to delete it?' } do %>
            <%= image_tag "delete.png", alt: "delete" %>
          <% end %>
          <%= link_to edit_tweet_path(tweet) do %>
            <%= image_tag "edit.png", alt: "edit", class: "ml-12 flex align-end"   %>
          <% end %>
        </div>
          <%end %>
        <%end %>
      </div>
    </div>
  </div>
<% end %>