<div class=card>
  <h1>Tweet detail</h1>
</div>
<div class="card">
  <div>
    <%= image_tag User.all.find_by(id: @tweet.user_id).avatar, class: "card-img"%>
  </div>
  <div class="card-contain">
    <div class="card-main">
      <p>
        <%= User.all.find_by(id: @tweet.user_id).name%> <span>@<%= User.all.find_by(id: @tweet.user_id).username%></span>
            <span><%= time_ago_in_words(@tweet.created_at) unless @tweet.created_at.blank? %> ago</span>
      </p>
      <p><%= @tweet.body%></p>
    </div>
    <div class="card-footer">
      <a href="<%=tweet_path(@tweet)%>"><div><%= image_tag('comment.png')%></div></a>
      <p><%= @tweet.comments_count%></p>
    </div>
  </div>
</div>

<div class="card">
<p>Create a comment</p>
</div>

<% @tweet.comments.each do |comment| %>
  <div class="card">
    <%= image_tag User.all.find_by(id: comment.user_id).avatar,class: "card-img"%>
    <div class="card-contain">
      <div class="card-main">
        <p>
          <%= User.all.find_by(id: comment.user_id).name%> <span>@<%= User.all.find_by(id: comment.user_id).username%></span>
              <span><%= time_ago_in_words(comment.created_at) unless comment.created_at.blank? %> ago</span>
        </p>
      </div>
      <p><%= comment.body%></p> 
      <div class="card-footer">
        <div class="card-comments">        
        </div>
         <div class="card-controls">
          <%= link_to comment_path(comment), method: :delete, data: { confirm: 'Do you want to delete it?' } do %>
            <%= image_tag "delete.png", alt: "delete" %>
          <% end %>
          <%= link_to edit_comment_path(comment) do %>
            <%= image_tag "edit.png", alt: "edit" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>



