<div class="card">
  <h1>Login</h1>
</div>

<div class="card">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    
    <div class="card-form">
      <div>
        <%= f.label :email %><br />
        <div class="input__container">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input__content " %>
        </div>
      </div>

      <div>
        <%= f.label :password %><br />
        <div class="input__container">
          <%= f.password_field :password, autocomplete: "current-password", class: "input__content " %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "Submit" ,class: "btn btn--primary btn--fit-content" %>
      </div>

      <%= render "devise/shared/links" %>
    </div>   
  <% end %>
</div>