<!DOCTYPE html>
<html>
  <head>
    <title>TweetableIndividual</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header class="header">
        
        <%if current_user %>
          <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn--secondary btn--fit-content" %>
          <%= link_to "Logout", destroy_user_session_path ,method: :delete, class: "btn btn--primary btn--fit-content" %>
        <%else%>
          <%= link_to "Login", user_session_path, class: "btn btn--primary btn--fit-content" %>
        <%end %>
      </header>
      <main class="main">      
        <p class="flash-card"><%= notice %></p>
        <p class="flash-card"><%= alert %></p>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
